@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 50;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: black;
}

body {
    background-color: black;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logoname {
    color: white;
    margin-left: 20px;
}

.navigation a{
    color: #ffffff;
    position: relative;
    font-size: small;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    word-spacing: 10px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -6px;
    height: 3px;
    background: #ffffff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 40px;
    position: relative;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.40s;
}

.navigation .btnLogin-popup:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 4px 5px #666666
}

.title {
    color: white;
    position: relative;
    top: 13vh;
}

.banner {
    z-index: -1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: absolute;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
  }

.maps {
  width: 100%;
}
  
  .message {
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  
  .form2 {
    display: flex;
    flex-direction: column;
  }
  
  .label2 {
    margin-top: 10px;
    color: white;
  }
  
  .input2{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .textarea2 {
    height: 150px;
  }
  
  .sendMessage {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.40s;
  }

  .sendMessage:hover {
    background-color: #ffffff;
    color: #000000;
  }
  
  #successMessage,
  #missingFieldsMessage {
    color: #fff;
    margin-top: 20px;
    display: none;
  }
  
  #successMessage {
    background-color: green;
    width: 350px;
  }
  
  #missingFieldsMessage {
    background-color: red;
    width: 240px;
  }
  
  .hidden {
    display: none;
  }






  











/* LOGIN & REGISTER */

/*Booking*/

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 440px;
  background-color: white;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0 , 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s, height .2s ease;
  transform: scale(0);
  overflow: hidden;
  z-index: 9999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
}
.wrapper.active-popup{
  transition: transform 1s ease;
  transform: scale(1);
}

.wrapper.active{
  height: 550px;
}

.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register{
  transition: transform 1s ease;
  transform: translateX(0);
}

.wrapper .form-box{
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login{
  transition: transform 1s ease;
  transform: translateY(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}


.form-box h2{
  font-size: 2em;
  color: #000000;
  text-align: center;
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #000000;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000000;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
  padding: 0 35px 0 5px;   
}

.input-box .icon{
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;
}

.remember-forget{
  font-size: .9em;
  color:#000000;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input{
  accent-color: #000000;
  margin-right: 3px;
}

.remember-forget a{
  color: #000000;
  text-decoration: none;
}

.remember-forget a:hover{
  text-decoration: underline;
}

.btn2{
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  font-weight: 500;
}

.login-register{
  font-size: .9em;
  color: #000000;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover{
  text-decoration: underline;
}

.labellabel {
  color: #000000;
}












































  





























/* FOOTER */
footer {
    background-color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  
.footer-section {
    flex: 0 0 30%;
}
  
h3 {
    margin-top: 0;
    font-size: x-large;
    color: white;
}
  
form {
    margin-top: 10px;
}
  
input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}
  
.subscribe {
    padding: 5px 10px;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 20px;
    font-size: small;
    transition: 0.40s;
    width: 100px;
}

.subscribe:hover {
    background: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 4px 5px #666666
}
  
p {
    margin: 5px 0;
    color: white;
    letter-spacing: 2px;
}

.slogan {
    color: white;
    margin-top: 10px;
    font-style: italic;
    font-size: smaller;
}
  
i {
    margin-right: 5px;
}

.icon {
    color: white;
}